:80

reverse_proxy /api* {
  to {$BACKEND_URI}
  header_up Host {http.reverse_proxy.upstream.host}
  header_down X-Content-Type-Options "nosniff"
}

reverse_proxy localhost:3000 {
  header_down X-FRAME-Options "DENY"
  header_down Content-Security-Policy "frame-ancestors 'none'"
  header_down X-Content-Type-Options "nosniff"
}
